/* 


.section{
    padding:6rem 0;
}

.container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:4rem;
}

.left{
    flex:none;
}

.right{
   
    display:flex;
    justify-content:center;
    
    width: 100%;
}


.showcase{
    position:relative;

    width:520px;
    height:760px;

    display:flex;
    justify-content:center;
    align-items:center;
}


@media (max-width:992px){

.container{
    flex-direction:column;
    text-align:center;
}

.showcase{
    width:420px;
    height:680px;
}

}


@media (max-width:768px){

.container{
    padding:2rem 0;
}

.showcase{

    width:100%;
    max-width:320px;

    height:auto;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:18px;
}

} */



.section{
    padding:8rem 0;
    background:#fff;
}

.heading{
    max-width:700px;
    margin:0 auto 5rem;
    text-align:center;
}

.heading span{
    color:#2563EB;
    font-weight:700;
    letter-spacing:2px;
    font-size:.9rem;
}

.heading h2{
    font-size:3rem;
    margin:1rem 0;
    line-height:1.2;
    color:#0F172A;
}

.heading p{
    color:#64748B;
    line-height:1.8;
    font-size:1.05rem;
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1100px;

    margin: 0 auto;

    overflow: hidden;
    padding: 2rem 0;
}
/* .showcase{
    position:relative;

    width:100%;
    max-width:950px;

    margin:0 auto;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:2rem 0;
} */

@media(max-width:992px){

.heading h2{
    font-size:2.5rem;
}

.showcase{
    max-width:700px;
}

}


@media(max-width:768px){

.section{
    padding:5rem 0;
}

.heading{
    margin-bottom:3rem;
}

.heading h2{
    font-size:2rem;
}

.heading p{
    font-size:.95rem;
}

.showcase{
    width:100%;
    padding:0 1rem;
}

}